<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="Mainscreen_Control.js" defer></script>
        <link rel="stylesheet" type="text/css" href="Mainscreen_Style.css"/>
        <title>To Do (Internship Task)</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <div id="Main-Box">
            <h1>Uzdotie darbi</h1>
            <input class="Main-Input" type="text" placeholder="Pievienojiet jaunu darbu..." v-on:keyup.enter="addTask"></input>

            <ul>
                <li v-for="Task in Tasks" :key="Task.id" class="Main-List">
                    <label>
                        <input type="checkbox" class="Main-List-Checkbox" v-model="Task.done">
                        <span>&nbsp</span>
                    </label>
                    <del v-if="Task.done">{{ Task.text }}</del>
                    <span v-else>{{ Task.text }}</span>
                    <div class="space"></div>
                    <button class="Main-List-Button" v-on:click="removeTask(Task.id)">X</button>
                </li>
            </ul>
        </div>
    </body>   
</html>