body {
  font-family: Verdana;
  margin: 0em;
  text-align: center;
}
.body {
  display: flex;
  justify-content: center;
}
.dropdown {
  cursor: pointer;
  width: 1920px;
}
.Selector {
  background-color: #195ac2;
  transition: 0.7s;
}
.underSelector {
  background-color: #2176ff;
  transition: 1s;
}
.dropdown .underSelector:hover {
  transition: 0.5s;
  background-color: #7249e3;
}
ul {
  width: 100%;
  padding: 0em;
  margin: 0em;
}
li {
  padding: 1em;
  font-size: 150%;
  display: block;
}
.dropdownContent a {
  padding: 0.4em;
  background-color: #5f99f5;
  font-size: 150%;
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 125%;
  transition: 1s;
}
.underDropdownContent,
.dropdownContent {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.dropdownContent a:hover {
  transition: 0.2s;
  background-color: #78abff/*#6aa2f7*/;
}
.dropdown:hover .dropdownContent {
  transition: 0.5s ease-in-out;
  transition-delay: 0.3s;
  height: 120px;
}
.dropdown:hover #Form {
  transition: 0.5s ease-in-out;
  transition-delay: 0.3s;
  height: 156px;
}
.dropdownContent:hover .underDropdownContent {
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
  height: 200px;
}
#Form:hover .underSelector {
  background-color: #5335a6;
  transition: 0.5s;
}
.dropdown:hover .Selector {
  transition: 0.5s;
  background-color: #193e78;
}
