<!DOCTYPE html>
<html>
  <!-- To do: fix and generally improve CSS for the hiddenBox and buttonBox divs and their child components -->
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="Internship_Homework.css" />

    <meta charset="UTF-8" />
    <title>Internship Homework {New Version} (Currency selector)</title>
  </head>
  <body>
    <div id="Menu" class="Menu">
      <div class="SelectBox">
        <div
          class="HiddenBox"
          v-for="(selectedCurrency, index) in selectedCurrencies"
        >
          <button
            class="X"
            @click="Add_or_Remove_Currency(index, selectedCurrency)"
          >
            X
          </button>
          {{selectedCurrency}}
        </div>
      </div>

      <div class="buttonBox">
        <div
          v-for="(Currency, index) in Currencies"
          v-bind:class="get_Class(Currency)"
          @click="Add_or_Remove_Currency(index, Currency)"
        >
          <div>
            <div
              v-bind:class="getCheckboxClass(Currency)"
              v-if="getCheckboxClass(Currency) == 'not_pressed' "
            ></div>
            <div
              v-bind:class="getCheckboxClass(Currency)"
              v-if="getCheckboxClass(Currency) == 'pressed' "
            >
              <span class="checkbox_cross">X</span>
            </div>
            {{Currency}}
          </div>
        </div>
      </div>
    </div>

    <script src="Internship_Homework.js"></script>
  </body>
</html>
