body {
  background-color: darkslategrey;
}
.Menu {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 5px #b5b5b5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  user-select: none;
  max-width: 485px;
}
.SelectBox {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 15px;
  margin: 3px;
}
.HiddenBox {
  margin-right: 10px;
  margin-bottom: 7px;
  width: 135px;
  height: 25px;
  line-height: 25px;
  background-color: #ededed;
  padding: 5px;
  font-family: Verdana;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.X {
  cursor: pointer;
  position: absolute;
  background: #303030;
  color: white;
  top: -5px;
  right: -5px;
  border: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.X:hover {
  background: white;
  color: #303030;
  border: 2px solid #303030;
}
.buttonBox {
  margin-top: 20px;
  display: inline-grid;
  grid-gap: 6px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
  width: 100%;
}
button:focus {
  outline: none;
}
.off,
.on {
  position: relative;
  width: 145px;
  height: 25px;
  border: 1px solid gray;
  background-color: #ebebeb;
  padding: 5px;
  font-family: Verdana;
  color: #29389e;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.off:hover {
  background-color: #c2c2c2;
}
.on {
  background-color: white;
}
.pressed,
.not_pressed {
  display: inline-block;
  border: 1px solid gray;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  position: relative;
}
.pressed {
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  color: red; 
}