<!Doctype html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!--<link rel="stylesheet" href="Internship_Homework.css" />-->
    
        <meta charset="UTF-8" />
        <title>Page for form testing with Vue.js</title>
    </head>
    <body>
        <form id="MENU">
            <p>
                <input type="text" v-model="message">
                {{ message }}
            </p>
            <p>
                <input type="checkbox" v-model="checked">
                {{ checked ? "yes" : "no" }}
            </p>
            <p>
                <input type="radio" name="picked" value="Matīss" v-model="picked">
                <input type="radio" name="picked" value="Miķelis" v-model="picked">
                {{ picked }}
            </p>
            <p>
                <select v-model="selected">
                    <option> Langenfelds </option>
                    <option> Rēdlihs </option> 
                </select>
                {{ selected }}
            </p>
            <p>
                <select v-model="multiSelected" multiple>
                    <option>variants 1</option>
                    <option>variants 2</option>
                    <option>variants 3</option>
                </select>
                {{ multiSelected }}
            </p>
            <p><pre>data: {{$data}}</pre></p>
        </form>
        <pre>{{}}</pre>
        <script src="Form_testing.js"></script>
    </body>
</html>